<app-header-component></app-header-component>

<body>
   <!--navbar-sec-->

   <!--navbar-sec-->
   <!--banner-->
   <section class="sub-banner w-100 float-left shape-left shape-right d-table " style="height: 50%;">
      <div class="d-table-cell ">
         <div class="container">
            <div class="four-column-banner banner-sec position-relative text-center">
               <h1 class="d-inline-block position-relative" style="font-size: 4em; margin-bottom: 50px">Formations</h1>
               <div class="message-container">
                  <p class="animated-message">Apprendre c'est avoir un projet, <br> c'est se projeter différent dans l'avenir!</p>
              </div>
                             <div class="banner-button d-inline-block">
                  <a type="button" style="text-align: center;    color: #fa9f3c;
               " *ngIf="role==='CONSULTANT'" class="d-inline-block" (click)="openDialog()">
                     ADD Formation
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="top-button position-relative">
         <a id="button" href="#" class="show"></a>
      </div>
   </section>
   <!--banner-->
   <section class="blog-posts w-100 float-left padding-top padding-bottom six-colum-blog">
      <div id="blog" class="col-xl-12">
         <div class="row ">
            
               <div class="col-xl-2 col-lg-6 col-md-6" *ngFor="let i of formations">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                              <img [src]="getImageUrl(i.formation_Id)" alt="Formation Image">
                           </a>
                           <span class="post-meta-category">
                              <a href="#">FINANZO</a>
                           </span>
                           <!--post-image-->
                        </div>

                       
                        

                        <div class="post-item-description">
                           <div>
                           <span class="post-meta-date">
                              <i class="fas fa-calendar-alt" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;">  Date Début : {{i.dateDebut}} </i> </span>   </div>
                              <div>
                              <span class="post-meta-date">
                               <i class="fas fa-calendar-alt" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;">  Date Fin : {{i.dateFin}}</i> </span>  </div>
                                 <span class="post-meta-comments">
                                    <a href="#"><span class="fa fa-comments-o"></span></a>
                                    </span>
                          
                           <h2 style="margin-top: -10px; margin-bottom: 5px;">
                              <a >Title : {{i.titre}} </a>
                           </h2>
                           <h5>
                              <p>  Duree : {{i.duree}} heures </p>
                           </h5>
                         <!-- <h5>
                              <p [hidden]="showmore==false"> Etat : {{i.etat}}  </p>
                              <p [hidden]="showmore==false"> Type : {{i.typeFormation}}  </p>
                              <p [hidden]="showmore==false"> Description : {{i.descriptionFormation}}</p>
                           </h5>
                          
                           
                           <button type="button" [hidden]="role==='CONSULTANT'" (click)="showMore()"
                              class="btn btn-primary">Show More <span class="fa fa-arrow-right"></span></button>

                              <button type="button" [hidden]="role==='CONSULTANT'" (click)="showLess()"
                              class="btn btn-primary"> Show Less <span class="fa fa-arrow-right"></span></button>
                              <h5>
                                 <p [hidden]="showless==false"> Etat : {{i.etat}}  </p>
                                 <p [hidden]="showless==false"> Type : {{i.typeFormation}}  </p>
                                 <p [hidden]="showless==false"> Description : {{i.descriptionFormation}}</p>
                              </h5>
                              -->
                           
                              <div>
                                 <p *ngIf="showDetails" class="details">
                                 <p [hidden]="showDetails==false"> Etat : {{i.etat}}  </p>
                                 <p [hidden]="showDetails==false"> Type : {{i.typeFormation}}  </p>
                                 <p [hidden]="showDetails==false"> Description : {{i.descriptionFormation}}</p>
                                 <button class="btn btn-primary" [hidden]="role==='CONSULTANT'" (click)="toggleDetails()">
                                     {{ showDetails ? 'Show Less' : 'Show More' }} Details
                                 </button>
                                  <!--post-item-description-->
                           <button type="button" [hidden]="role==='CONSULTANT'"
                           (click)="onFormationClick(i.formation_Id)" class="btn btn-danger mx-2">Join <span
                              class="fa fa-arrow-right"></span></button>
                             </div>

                              

                          

                           <div class="row">

                              <div class="col col-md-6">
                                 <button type="button" [hidden]="role==='CLIENT'"
                                    class="btn btn-warning btn-rounded btn-icon" (click)="openEditDialog(i)">

                                    <i class="mdi mdi-account-remove"></i>
                                 </button>
                              </div>
                              <div class="col col-md-6">
                                 <button type="button" [hidden]="role==='CLIENT'"
                                    class="btn btn-danger btn-rounded btn-icon" (click)="Delete(i.formation_Id)">
                                    <i class="mdi mdi-account-remove"></i>
                                 </button>
                              </div>

                           </div>
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
            </div>
           



         </div>
         <!--blog-->
   </section>
   <!--footer-sec-->

   <!--footer-sec-->

</body>
<app-footer-component></app-footer-component>
<!-- Mirrored from html.designingmedia.com/finanzo/six-colum-full-wide.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Nov 2023 17:21:54 GMT -->