<!-- stockmarket.component.html -->

<div>
  <script>
    if (typeof(stockdio_events) == "undefined") {
      stockdio_events = true;
      var stockdio_eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
      var stockdio_eventer = window[stockdio_eventMethod];
      var stockdio_messageEvent = stockdio_eventMethod == "attachEvent" ? "onmessage" : "message";
      stockdio_eventer(stockdio_messageEvent, function (e) {
        if (typeof(e.data) != "undefined" && typeof(e.data.method) != "undefined") {
          eval(e.data.method);
        }
      }, false);
    }
  </script>

  <iframe class="mb-3"
    id='st_63fc81445c014b7c9598d0625388761f'
    frameborder='0'
    scrolling='no'
    width='1600'
    height='600'
    src='https://api.stockdio.com/visualization/financial/charts/v1/MarketOverviewChart?app-key=168923C635A74675AB0D810E77372004&palette=Financial-Light&title=Market%20Overview&grayscaleLogo=true&animate=true&googleFont=true&onload=st_63fc81445c014b7c9598d0625388761f'
  ></iframe>
</div>
